doctype html
html
    head
        title Tareas
    body
        form(action=`/tasks/${task.id}?_method=PUT` method="POST")
            textarea(name="description", placeholder="Coloca aquí el pendiente a realizar")= task.description
            hr
            input(type="submit" value="Guardar")