doctype html
html
    head
        title Tareas
    body
        ul
            each task in tasks
                li
                    a(class='button' href=`/tasks/${task.id}`)= task.description
    hr
    a(class='button' href='/') inicio