doctype html
html
    head
        title Tareas
    body
        form(action="/sessions" method="POST")
            input(type="email" name="email" placeholder="Correo electrónico")
            br
            input(type="password" name="password" placeholder="Contraseña")
            br
            br
            input(type="submit" value="Ingresar")
    hr
    a(class='button' href='/signup') Sign up